#!/usr/bin/env bash

# Pasteboard
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
# Trim new lines and copy to clipboard
alias c="tr -d '\\n' | xclip -selection clipboard"
# copy working directory
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
# Pipe my public key to my clipboard.
# shellcheck disable=SC2139
alias pubkey="cat ${HOME}/.ssh/id_rsa.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

# Shortcuts
alias dl="cd ~/Downloads"
alias h="history"

# Always enable colored `grep` output
alias grep='grep --color=auto '

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%U'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff='sudo ngrep -d $(gwi) -t "^(GET|POST) " "tcp and port 80"'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Lock the screen (when going AFK)
alias afk="xdg-screensaver lock"

# hosts
alias hosts='sudo vim /etc/hosts'

# Process detailed
alias psc='ps xawf -eo pid,user,cgroup,args'

# BFG repo cleaner
alias bfg='java -jar /usr/local/bin/bfg-1.13.0.jar'

# Search in .bash_history files
# shellcheck disable=SC2139,SC2142
alias shist=$'SEARCH=$(zgrep -v \'^#\' ${HOME}/.bash_history*.gz | sort -ru | fzf) && read -e -i \"${SEARCH}\" && REPLY=$(echo \"${REPLY}\" | awk -F \':\' \'{print $NF}\') && command $REPLY'

# Screenkey
alias dscreenkey='python ${HOME}/screenkey/screenkey -p fixed -g $(slop -n -f '%g')'
alias screenkey='python ${HOME}/screenkey/screenkey -p fixed'

# Pdsh
alias pdsh='pdsh -R ssh'
alias pdcp='pdcp -R ssh'
export PDSH_SSH_ARGS_APPEND='-o StrictHostKeyChecking=no'

# Gpg
alias gpg='gpg2'

# Remote systems
alias maurice='ssh -p 2200 -L 36331:localhost:36330 uggla@uggla.fr'
alias albert='ssh -L5901:localhost:5900 albert@82.233.101.110'
alias decofer='ssh ubuntu@15.236.100.146'

# Proxy
alias proxy='export http_proxy=http://web-proxy:8088 && export https_proxy=http://web-proxy:8088'

# lsd
alias ll='lsd -l'
alias ls='lsd'
