#!/usr/bin/env bash

PATH=$PATH:$HOME/.local/bin:$HOME/bin:$HOME/workspace/go/bin:$HOME/terraform:$HOME/rust/bin:/usr/local/musl/bin:$HOME/.skim/bin:$HOME/exercism

export PATH

# Editor
export EDITOR=vim

# Bash history
export HISTSIZE=-1
export HISTTIMEFORMAT="%d/%m/%y %T "

# Python startup script
export PYTHONSTARTUP=$HOME/workspace/pythonstartup/startup.py

# Android sdk
export ANDROID_HOME=$HOME/android-sdk-linux
export PATH=${PATH}:$HOME/android-sdk-linux:$HOME/android-sdk-linux/platform-tools:$HOME/android-sdk-linux/tools

# Vagrant
export VAGRANT_DEFAULT_PROVIDER=virtualbox

# Go
export GOPATH=$HOME/workspace/go

# Rust
export CARGO_HOME=/home/uggla/rust
export RUSTUP_HOME=/home/uggla/rust

# Git secret
export SECRETS_GPG_COMMAND='gpg2'

# fzf
export FZF_TMUX=1
export FZF_DEFAULT_COMMAND=$'fd --type f --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS=$'--height 40% --layout=reverse --border --preview \'[[ $(file --mime {}) =~ binary ]] && echo {} is a binary file || bat --style=numbers --color=always {} || head -25\''
