[init]
  defaultBranch = main

[user]
	email = "uggla@free.fr"
	name = "Uggla"

[gitreview]
  username = "uggla"

[github]
	user = "Uggla"

[core]
  pager = delta
	editor = nvim
	excludesfile = ~/.gitignore_global

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3
	tool = nvimdiff

[diff]
	tool = nvimdiff
  colorMoved = default

[rebase]
  autosquash = true

[alias]
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  ireb = "!git rebase -i $(git merge-base $(git branch --show-current) $(git branch -a | grep remotes | sed 's#  remotes/##' | fzf))"
  l1 = "!git log --oneline"
  s = "status"
  l = "log"

[includeIf "gitdir:~/**"]
	path = ~/.gituser
[rerere]
	enabled = true
	autoupdate = true
